{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-12"><img src="img/logo.jpg" class="rounded mx-auto d-block" alt="Responsive image" width="200" height="130"><intro>
      ALL BOOKED EVENTS
</intro></div>
  </div>
  <br>
<div class="container-fluid">
<br>
<div class="row">
  <div class="col-sm-1">
    </div>

  <div class="col-sm-10">
        <table class="table">
<thead>
  <tr>
    <th scope="col">EVENT</th>
    <th scope="col">TICKET INVOICE</th>
    <th scope="col">EVENT STATUS</th>
  </tr>
</thead>
<tbody>
  <tr>
      <th scope="row"><div class="card" style="width: 18rem;">
        <img src="img/stg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">SPLENDOUR IN THE GRASS</p>
        </div>
      </div></th>
    <td>Booking Number: AHY173517<br>Name of Ticket: 1-Day General Pass<br>Number of Tickets: 1<br>Cost: $148.99<br>Date of Purchase: 18/01/2022</td>
    <td><img src=img/cross.jpg style="width: 8rem; height: 8rem;"></td>
  </tr>
  <tr>
      <th scope="row"><div class="card" style="width: 18rem;">
        <img src="img/Falls1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">FALLS FESTIVAL BYRON BAY</p>
        </div>
      </div></th>
    <td>Booking Number: ISR906178<br>Name of Ticket: 3-Day Camping Deluxe<br>Number of Tickets: 2<br>Cost: $478.50<br>Date of Purchase: 23/06/2022</td>
    <td><img src=img/tick.jpg style="width: 8rem; height: 8rem;"></td>
  </tr>
  <tr>
        <th scope="row"><div class="card" style="width: 18rem;">
        <img src="img/JJ1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">JACK JOHNSON BRISBANE</p>
        </div>
      </div></th>
    <td>Booking Number: ONQ686093<br>Name of Ticket: Jack Johnson Live Riverstage<br>Number of Tickets: 1<br>Cost: $82.99<br>Date of Purchase: 09/08/2022</td>
    <td><img src=img/tick.jpg style="width: 8rem; height: 8rem;"></td>
  </tr>
</tbody>
</table>
</div>
</div>
  <div class="col-sm-1">
</div>
</div>
</main>
{% endblock %}