{% extends 'base.html' %}

{% import "bootstrap/form.html" as wtf %}
{% block content %}
  <!-- EVENT CARDS -->

<div class="card-group">
  {% for event in events %}
  <article class="col">
     <div id="card" class="card" style="width: 18rem; background-color: rgb(33, 33, 33)">
        <img class="card-img-top"
           src={{event.img_link1}} alt="event picture" id="create_img">
        <div class="card-body">
           <h5 class="card-title">{{event.name}}</h5>
           <p class="card-text">{{event.description}}</p>
        </div>
        <div class="card-footer"><a href = "/events/update/{{event.event_id}}" class ="btn btn-danger"> Update event </a></div>
     </div>
  </article>
  {% endfor %}
</div>

{% endblock %}