{% extends 'base.html' %}

{% import "bootstrap4/form.html" as wtf %}

{% block content %}

<div class="container">
    <!-- Event --> 
    <br><br>
    <div class="row">
      <div class="col-md-2"></div>   
      <div class="col-md-8">
        <div class="card text-center">
            <div id="card" class="card" style="width: 53.36rem; background-color: rgb(33, 33, 33)">
              <div class="media-body">  
                <img class="card-img-top"
                   src={{event.img_link1}} alt="event picture" id="create_img" style="width: 50rem; height:105px; background-color: rgb(33, 33, 33)">
                   <br>
                <h5 class="mt-0" style="color:whitesmoke; font-size: 30px;">{{event.name}}</h5> 
                <br> 
                <h5 class="mt-0" style="color:whitesmoke; font-size: 18px;">{{event.description}}</h5>
                <br>
                <a href="#" class="btn btn-danger">Book Now</a>  
              </div>  
            </div>  
          </div>  
        </div> 
      </div>   
      </div> 
      <div class="col-md-2"></div>    
    </div>     
 
   
 <br>
    <hr>  

    <!-- Comments -->  
    <div class="row">  
      <div class="col-md-2"></div>   
      <div class="col-md-8"> 
        <h2>Comments</h1>  
        
 
      {{wtf.render_form(form,"/events/{0}/comment".format(event.event_id))}}
      {% for comment in event.comments %}
        <b>{{comment.user}} <span class="ml-2 text-muted">{{comment.comment_date}}</span></b>
        <p>{{comment.comment_text}}</p>  
      </div>
      <div class="col-md-2"></div>   

      {% endfor %} 
    </div>  
  </div> 

{% endblock %}