{% extends 'base.html' %}

{% import "bootstrap4/form.html" as wtf %}

{% block content %}

<div class="container">
    <!-- Event --> 
    <br><br>
    <div class="row">
      <div class="col-md-2"></div>   
      <div class="col-md-8">
        <div class="card text-center">
            <div id="card" class="card" style="width: 53.36rem; background-color: rgb(33, 33, 33)">
              <div class="media-body">  
                <img class="card-img-top"
                   src={{event.img_link1}} alt="event picture" id="create_img" style="width: 50rem; height:350px; background-color: rgb(33, 33, 33)">
                   <br>
                   <br>
                <h5 class="mt-0" style="color:whitesmoke; font-size: 30px;">{{event.name}}</h5> 
                <br> 
                <h5 class="mt-0" style="color:whitesmoke; font-size: 18px;">{{event.description}}</h5>
                <br>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal1">
                  Book Now
                </button>

                <!-- Modal -->
                <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        The Amount of Ticket Remaining for this event: 
                        Price of Ticket:
                        How many tickets would you like:
                        Total Cost:
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Book Tickets</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
            </div>  
          </div>  
        </div> 
      </div>   
      </div> 
      <div class="col-md-2"></div>    
    </div>     
 
   
 <br>
    <hr>  

    <!-- Comments -->  
    <div class="row">  
      <div class="col-md-2"></div>   
      <div class="col-md-8"> 
        <h2>Comments</h1>  
        
      {% if user.is_authenticated %}
        {{wtf.render_form(form,"/events/{0}/comment".format(event.event_id))}}
      {% else %}
          <a href="/login">Login to comment</a>
      {% endif %}

      {% for comment in event.comments %}
        <b>{{comment.user.first_name}} <span class="ml-2 text-muted">{{comment.comment_date}}</span></b>
        <p>{{comment.comment_text}}</p>  
        

      {% endfor %}
      </h2></div>
      <div class="col-md-2"></div>  
    </div>
  </div>
   

{% endblock %}